
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.admin-container {
  background: url('/public/images/admin.jpeg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.singleDestination .btn.addUser {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 80px;
  margin-right: 360px;
}

.singleDestination .btn.addAttacker {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 80px;
}
